<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-success btn-sm"
  id="btnModal"
  data-toggle="modal"
  data-target="#updateModal"
  (click)="openModal()"
>
  Edit
</button>

<div #myModal class="modal fade" [class.show]="isModalVisible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="updateModal">Update Product</h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="productName">Product Name</label>
            <input
              type="text"
              class="form-control"
              id="productName"
              class="form-control form-control-lg"
              formControlName="productName"
              [ngClass]="{
                'is-invalid': submitted && f['productName'].errors
              }"
            />
            <!-- error block -->
            <div
              class="is-invalid"
              style="color: red"
              *ngIf="submitted && f['productName'].errors?.['required']"
            >
              <sup>*</sup>Field is required
            </div>

            <div
              class="is-invalid"
              style="color: red"
              *ngIf="submitted && f['productName'].errors?.['pattern']"
            >
              <sup>*</sup>Characters only
            </div>
          </div>

          <div class="form-group">
            <label for="productType">Product Type</label>
            <input
              type="text"
              class="form-control"
              id="productType"
              class="form-control form-control-lg"
              formControlName="productType"
              [ngClass]="{
                'is-invalid': submitted && f['productType'].errors
              }"
            />
            <!-- error block -->
            <div
              class="is-invalid"
              style="color: red"
              *ngIf="submitted && f['productType'].errors?.['required']"
            >
              <sup>*</sup>Field is required
            </div>
            <div
              class="is-invalid"
              style="color: red"
              *ngIf="submitted && f['productType'].errors?.['pattern']"
            >
              <sup>*</sup>Characters only
            </div>
          </div>

          <div class="form-group">
            <label for="productCategory">Product Category</label>
            <select
              class="form-select form-select-lg"
              id="productCategory"
              formControlName="productCategory"
              [ngClass]="{
                'is-invalid': submitted && f['productCategory'].errors
              }"
            >
              <option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </option>
            </select>
            <!-- error block -->
            <div
              class="is-invalid"
              style="color: red"
              *ngIf="submitted && f['productCategory'].errors?.['required']"
            >
              <sup>*</sup>Field is required
            </div>
          </div>

          <div class="form-group">
            <label for="productPrice">Product Price</label>
            <input
              type="number"
              class="form-control"
              id="productPrice"
              class="form-control form-control-lg"
              formControlName="productPrice"
              [ngClass]="{
                'is-invalid': submitted && f['productPrice'].errors
              }"
            />
            <!-- error block -->
            <div
              class="is-invalid"
              style="color: red"
              *ngIf="submitted && f['productPrice'].errors?.['required']"
            >
              <sup>*</sup>Field is required
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
