.img-fluid {
    height: 150px;
    width: 150px;
}
.buttons{
    display: flex;
}

.container-fluid{
    display: flex;
    justify-content: flex-end;
}

.parent-container {
    position: fixed;
    background-color: rgb(51, 112, 159);
    left: 0;
    right: 0;
  }
  
.div-on-top {
position: absolute;
top: 0;
z-index: 1;
 }

.div-below {
position: relative;
margin-left: 250px;
z-index: 0;
 }
  