<app-admin-dashboard></app-admin-dashboard>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  id="btnModal"
  data-toggle="modal"
  data-target="#addProduct"
  (click)="openModal()"
>
  Open Modal
</button>

<div #myModal class="modal fade" [class.show]="isModalVisible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="addProduct">Add Product</h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="productName">Product Name</label>
            <input
              type="text"
              class="form-control"
              id="productName"
              class="form-control form-control-lg"
              formControlName="productName"
              [ngClass]="{
                'is-invalid': submitted && f['productName'].errors
              }"
            />
            <!-- error block -->
            <div
              class="is-invalid"
              style="color: red"
              *ngIf="submitted && f['productName'].errors?.['required']"
            >
              <sup>*</sup>Field is required
            </div>

            <div
              class="is-invalid"
              style="color: red"
              *ngIf="submitted && f['productName'].errors?.['pattern']"
            >
              <sup>*</sup>Characters only
            </div>
          </div>

          <div class="form-group">
            <label for="productType">Product Type</label>
            <input
              type="text"
              class="form-control"
              id="productType"
              class="form-control form-control-lg"
              formControlName="productType"
              [ngClass]="{
                'is-invalid': submitted && f['productType'].errors
              }"
            />
            <!-- error block -->
            <div
              class="is-invalid"
              style="color: red"
              *ngIf="submitted && f['productType'].errors?.['required']"
            >
              <sup>*</sup>Field is required
            </div>
            <div
              class="is-invalid"
              style="color: red"
              *ngIf="submitted && f['productType'].errors?.['pattern']"
            >
              <sup>*</sup>Characters only
            </div>
          </div>

          <div class="form-group">
            <label for="productDescription">Product Description</label>
            <input
              type="text"
              class="form-control"
              id="productDescription"
              class="form-control form-control-lg"
              formControlName="productDescription"
              [ngClass]="{
                'is-invalid': submitted && f['productDescription'].errors
              }"
            />
            <!-- error block -->
            <div
              class="is-invalid"
              style="color: red"
              *ngIf="submitted && f['productDescription'].errors?.['required']"
            >
              <sup>*</sup>Field is required
            </div>
            <div
              class="is-invalid"
              style="color: red"
              *ngIf="submitted && f['productDescription'].errors?.['pattern']"
            >
              <sup>*</sup>Characters only
            </div>
          </div>

          <div class="form-group">
            <label for="productPrice">Product Price</label>
            <input
              type="number"
              class="form-control"
              id="productPrice"
              class="form-control form-control-lg"
              formControlName="productPrice"
              [ngClass]="{
                'is-invalid': submitted && f['productPrice'].errors
              }"
            />
            <!-- error block -->
            <div
              class="is-invalid"
              style="color: red"
              *ngIf="submitted && f['productPrice'].errors?.['required']"
            >
              <sup>*</sup>Field is required
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="productList">
  <h2>Product List</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Type</th>
        <th scope="col">Product Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of getDisplayedItems()">
        <td>{{ product.id }}</td>
        <td>{{ product.productName }}</td>
        <td>{{ product.productType }}</td>
        <td>{{ product.productPrice }}</td>
        <td>
          <app-product-edit-modal
            [productSelected]="product"
            (getProducts)="getProducts()"
          ></app-product-edit-modal>
          <app-product-delete-modal
            [productSelected]="product"
            (getProducts)="getProducts()"
          ></app-product-delete-modal>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button
      type="button"
      class="btn btn-primary"
      style="
        --bs-btn-padding-y: 0.25rem;
        --bs-btn-padding-x: 0.5rem;
        --bs-btn-font-size: 0.75rem;
      "
      (click)="currentPage = currentPage - 1"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <span>Page {{ currentPage }}</span>
    <button
      type="button"
      class="btn btn-primary"
      style="
        --bs-btn-padding-y: 0.25rem;
        --bs-btn-padding-x: 0.5rem;
        --bs-btn-font-size: 0.75rem;
      "
      (click)="currentPage = currentPage + 1"
      [disabled]="getDisplayedItems().length < itemsPerPage"
    >
      Next
    </button>
  </div>
</div>
