.container {
    margin-top: 30px;
}

.title {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.btn{
    margin-top: 4px;
    margin-right: 2px;
}

.amount {
    display: flex;
    justify-content: flex-end;
}