.bar {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(0, 145, 255, 0.499);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.logout {
    width: 100px;
    margin-right: 10px;
}

.active {
    color: rgb(71, 70, 70);
    font-weight: 500;
}