.bar {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(51, 112, 159);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.logout {
    width: 100px;
    margin-left: auto;
}

.active {
    color: rgb(71, 70, 70);
    font-weight: 500;
}
