.row {
    margin-top: 100px;
    display: flex;
}

.title {
    display: flex;
    margin-bottom: 3px
}

.table {
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}