.search {
    margin-top: 130px;
    display: flex;
    justify-content: center;
}

.col-10 {
    padding: 0;
    width: 600px;
}

.addCart     {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
