/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";


// .head {
//   display: flex;
//   margin-right: auto;
// }

// title:hover {
//     opacity: 0.8;
// }

// .navbar-brand:hover {
//   opacity: 0.8;
// }

  
// /* Top Bar */
  
// app-top-bar-component {
//     width: 100%;
//     height: 68px;
//     background-color: #1976d2;
//     padding: 16px;
//     display: flex;
//     justify-content: end;
//     align-items: center;
//   }
  
// app-top-bar-component h1 {
//     color: white;
//     margin: 0;
//   }
