<div class="container">
  <div class="row">
    <div>
      <app-top-bar-component></app-top-bar-component>
    </div>
    <div class="body">
      <h2 class="col-3">About Us</h2>
      <div class="message">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor
        ac nisl non porta. Suspendisse non ipsum condimentum, aliquet est nec,
        interdum lacus. Morbi porta facilisis scelerisque. Donec purus arcu,
        consequat eu dictum quis, sagittis sed orci. Ut mattis pulvinar lectus
        vel tempus. Aenean varius sollicitudin tortor nec posuere. Ut commodo
        sollicitudin nibh, nec cursus ex placerat vel. Morbi venenatis turpis
        vitae felis mattis sollicitudin. Sed dignissim dapibus volutpat.
        Phasellus bibendum eros et leo ultricies, eu vestibulum risus mattis.
        Quisque purus nisl, ullamcorper a risus vel, ullamcorper luctus est.
        Vivamus tellus mauris, auctor eu odio ut, mollis placerat odio. Fusce
        erat nisl, commodo sed risus quis, porta tincidunt ante. Proin nec
        lectus libero. Curabitur purus mauris, ullamcorper id magna in, laoreet
        sodales nunc. Nam at enim sit amet dui malesuada vulputate id sagittis
        massa. Pellentesque ut urna arcu. Aenean tempor sapien et dolor bibendum
        lobortis. Etiam quis mi nisl. Maecenas vehicula velit purus, eu tempor
        erat mollis vitae. Vivamus malesuada lacinia lacus eget vestibulum.
        Integer pharetra tortor sit amet dolor vestibulum dictum. Aenean
        vulputate, erat molestie posuere gravida, neque magna lobortis erat, ac
        varius lectus ex in risus. Quisque vel rhoncus odio. Integer tristique
        convallis arcu.
      </div>
    </div>
  </div>
</div>
